
/* ::::: null ::::: */

#g_title p, #g_footer p, #g_description p { margin: 0pt; }
* html .wrapper { height: 0.1%; }
@media tty {
  i { content: "\";/*\" \"*/}} * html #container { height: 1%; } /*"; }
}
.editable { border: 1px dashed blue; }
#footer { clear: both; }
#extraDiv1, #extraDiv2, #extraDiv3, #extraDiv4, #extraDiv5, #extraDiv6 { display: none; }
a img, :link img, :visited img { border: medium none ; }
body { text-align: center; }
#container { margin: 0pt auto; width: 718px; text-align: left; }
#main-content { float: right; width: 470px; }
#sidebar { float: right; width: 230px; }
#footer { clear: both; }
h1, h2, h3, h4, h5, h6, pre, code, p { font-size: 1em; }
dl, li, dt, dd, h1, h2, h3, h4, h5, h6, pre, form, body, html, p, blockquote, fieldset, input { margin: 0pt; padding: 0pt; }
a img, :link img, :visited img { border: medium none ; }
address { font-style: normal; }
body { font-family: Verdana,sans-serif; font-style: normal; font-variant: normal; font-weight: normal; font-size: 76%; line-height: normal; font-size-adjust: none; font-stretch: normal; -x-system-font: none; }
h1, h2, h3, h4, h5, h6, p.description { font-family: "Trebuchet MS",Trebuchet,sans-serif; }
h1 { font-size: 3em; font-weight: bold; letter-spacing: 2px; }
h2 { font-size: 2em; font-weight: normal; }
h3 { font-size: 1.5em; }
h4 { font-size: 1.2em; letter-spacing: 0.2em; }
h5 { font-size: 1.2em; }
h6 { font-size: 1em; font-weight: bold; }
p, td { line-height: 1.8em; }
code, kbd { font-size: 1.25em; }
* html #sidebar a { height: 1px; }
a:link { margin: -1px -2px -2px; padding: 1px 2px 2px; font-weight: bold; }
a:visited { margin: -1px -2px -2px; padding: 1px 2px 2px; color: rgb(102, 102, 102); font-weight: bold; }
a:hover, a:active { background: rgb(231, 231, 231) none repeat scroll 0% 0%; color: rgb(51, 51, 51); -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; }
body { margin: 10px; padding: 0pt; font-family: "Lucida Grande","Lucida Sans",Verdana,Arial,sans-serif; font-style: normal; font-variant: normal; font-weight: normal; font-size: 71%; line-height: normal; font-size-adjust: none; font-stretch: normal; -x-system-font: none; color: rgb(51, 51, 51); }
blockquote { margin: 1em 2em; color: rgb(102, 102, 102); }
blockquote p { line-height: 1.2; }
caption { padding: 0.5em; background: rgb(204, 204, 204) none repeat scroll 0% 0%; font-weight: bold; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; }
dd { margin: 1em 2em; }
dt { font-weight: bold; }
hr { margin: 1em 6em; }
td { padding: 0.5em; vertical-align: top; }
th { padding: 0.5em; text-align: left; }
ol li { margin-left: 2em; list-style-type: decimal; }
ol, ul { margin: 1em 0pt; padding-left: 1.7em; }
ul li { list-style-type: disc; }
p { margin: 1em 0pt; line-height: 1.8em; }
p.description { margin: 0.2em 0pt 1.5em; line-height: 1.5; color: rgb(153, 153, 153); }
h1 { padding: 5px 35px; font-family: "Palatino","Palatino Linotype",serif; font-size: 2.75em; font-weight: normal; letter-spacing: 3px; text-shadow: 2px 2px 2px rgb(153, 153, 153); }
h2 { margin: 0.9em 0pt 0.5em; font-family: "Palatino","Palatino Linotype",serif; font-size: 1.8em; font-weight: normal; text-shadow: 2px 2px 2px rgb(153, 153, 153); }
h3 { font-family: "Palatino","Palatino Linotype",serif; font-size: 1.5em; font-weight: normal; margin-top: 1em; }
h4 { font-size: 1.2em; }
h5 { font-size: 1em; }
h6 { font-size: 1em; font-weight: normal; color: rgb(81, 81, 81); }
#header { padding: 90px 0pt 1px; text-align: center; }
#main-content { margin-top: 1em; }
#main-content .wrapper { padding: 0pt 2em; }
.content-item { border-top: 1px dotted rgb(135, 135, 135); }
#sidebar .links { background: rgb(247, 247, 247) none repeat scroll 0% 0%; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; position: relative; }
#sidebar li a:link, #sidebar li a:visited { border-bottom: 1px solid rgb(255, 255, 255); padding: 0.5em 1em; background: transparent none repeat scroll 0% 0%; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; font-weight: normal; display: block; }
#sidebar li a:hover { background: rgb(255, 255, 255) none repeat scroll 0% 0%; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; }
#sidebar h3, #sidebar-alternate h3 { border-top: 1px dotted rgb(135, 135, 135); border-bottom: 1px dotted rgb(135, 135, 135); margin: 1em 0pt; padding: 6px 0pt; font-family: "Lucida Grande","Lucida Sans",Verdana,Arial,sans-serif; line-height: 1; font-size: 1em; font-weight: normal; }
#sidebar h4, #sidebar-alternate h4 { border-top: 1px dotted rgb(135, 135, 135); border-bottom: 1px dotted rgb(135, 135, 135); margin: 1em 0pt; padding: 6px 0pt; font-family: "Lucida Grande","Lucida Sans",Verdana,Arial,sans-serif; line-height: 1; font-size: 1em; color: rgb(81, 81, 81); font-weight: normal; }
#sidebar h5, #sidebar-alternate h5 { border-top: 1px dotted rgb(135, 135, 135); border-bottom: 1px dotted rgb(135, 135, 135); margin: 1em 0pt; padding: 6px 0pt; font-family: "Lucida Grande","Lucida Sans",Verdana,Arial,sans-serif; line-height: 1; font-size: 0.9em; color: rgb(81, 81, 81); font-weight: normal; }
#sidebar h6, #sidebar-alternate h6 { border-top: 1px dotted rgb(135, 135, 135); border-bottom: 1px dotted rgb(135, 135, 135); margin: 1em 0pt; padding: 6px 0pt; font-family: "Lucida Grande","Lucida Sans",Verdana,Arial,sans-serif; line-height: 1; font-size: 0.8em; color: rgb(81, 81, 81); font-weight: normal; }
#adsense { margin: 30px 14px; }
#footer { margin-bottom: 10px; }
#footer hr { display: none; }
#footer .wrapper { padding: 5px 20px; }
#threecolumn #sidebar .links { background: rgb(247, 247, 247) none repeat scroll 0% 0%; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; }
#sidebar-alternate .alternate-content .wrapper { padding: 1px 10px; }
#sidebar-alternate blockquote { margin: 0pt; }
a:link { background: transparent url('bg_link.gif') repeat scroll 0% 0%; color: rgb(88, 63, 111); -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; }
a:visited { background: transparent url('bg_link.gif') repeat scroll 0% 0%; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; }
body { background: rgb(255, 255, 255) url('bg_top.gif') repeat-x scroll center top; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; }
th { background: transparent url('bg_pattern.gif') repeat scroll 0% 0%; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; }
h1 { color: rgb(88, 63, 111); }
h2 { color: rgb(88, 63, 111); }
h3 { color: rgb(88, 63, 111); }
#header { background: transparent url('bg_mast.gif') repeat-x scroll center center; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; }
#sidebar h3, #sidebar-alternate h3 { color: rgb(88, 63, 111); }
#sidebar-alternate .alternate-content { background: transparent url('bg_pattern.gif') repeat scroll 0% 0%; -moz-background-clip: border; -moz-background-origin: padding; -moz-background-inline-policy: continuous; }
